.footer
 .upper-footer
  .pages
   .about-us about us
   .ios-app ios APP
   .android-app android app
  .links
   i f
   i i
   i t
   i s
 .lower-footer Copyright © 2019 EVERYONE. All rights reserved.
