extend demo.pug
append content
 .showcase
  .showcase-content
    h1 MEAL PLANS.
    h1
      | FOR 
      span#changing-text
    .showcase-buttons
      .btn Book Now
      .btn-fade Show Me More
 h3.awesome AWESOME FEATURES
 hr.new1
 .awesome-contents
   .calender
     .img
       img(src='https://img.icons8.com/officel/16/000000/calendar-16.png')
     h1 24/7
     p
       | Never cook again! We really mean that. Our subscription plans include up to 365 days/year coverage. You can also choose to order more flexibly if that&apos;s your style.
   .delivery
     .icon
       i
       h1 30 MINS OR FREE
       p
         | You&apos;re only twenty minutes away from your delicious and super healthy meals delivered right to your home. We work with the best chefs in each town to ensure that you&apos;re 100% happy.
   .source
     .icon
       i
       h1 100% organic
       p
         | All our vegetables are fresh, organic and local. Animals are raised without added hormones or antibiotics. Good for your health, the environment, and it also tastes better!
 .steps-to-follow-content
   .follow-heading
     h3 STEPS TO FOLLOW
   hr.new1
   .follow-content
     .follow-img
       img(src='./image2.jpg' alt='img')
     .follow-para
       .num
         .one
           .num-one
             | 1
           p Choose the subscription plan that best fits your needs and sign up today.
         .one.mar
           .num-one
             | 2
           p
             | Order your delicious meal using our mobile app or website. Or you can even call us!
         .one
           .num-one
             | 3
           p Enjoy your meal after less than 20 minutes. See you the next time!
 .review-page
   h3 REVIEWS
   hr.new1
   .people-review-container
     .people-review
       h4 NARUTO UZUMAKI
       p
         | Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi iure odio, quod nisi facilis commodi ut sunt ipsam, magnam eius repellat perferendis porro, iste voluptas!
       i
     .people-review
       h4 NARUTO UZUMAKI
       p
         | Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi iure odio, quod nisi facilis commodi ut sunt ipsam, magnam eius repellat perferendis porro, iste voluptas!
       i
     .people-review
       h4 NARUTO UZUMAKI
       p
         | Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi iure odio, quod nisi facilis commodi ut sunt ipsam, magnam eius repellat perferendis porro, iste voluptas!
       i
 .start-eating-healthy
   h3 START EATING HEALTHY TODAY
   hr.new1
   .one-three-container
     .one-three
       h4.premium-block1 PREMIUM
       p.premium-block1
         span.sp $399
         | /month
       p.premium-block1 That&apos;s only 13.30$ per meal
       hr.new
       .tick-para.premium-block2.margin-top
         i
         p 1 meal every day
       .tick-para.premium-block2
         i
         p Order 24/7
       .tick-para.premium-block2
         i
         p Access to newest creation
       #free-delivery.tick-para.premium-block2
         i
         p Free delivery
       hr.new
       .up
         p I AM HUNGRY
     .one-three.middle
       h4.premium-block1 PREMIUM
       p.premium-block1
         span.sp $399
         | /month
       p.premium-block1 That&apos;s only 13.30$ per meal
       hr.new
       .tick-para.premium-block2.margin-top
         i
         p 1 meal every day
       .tick-para.premium-block2
         i
         p Order 24/7
       .tick-para.premium-block2
         i
         p Access to newest creation
       #free-delivery.tick-para.premium-block2
         i
         p Free delivery
       hr.new
       .up
         p I AM HUNGRY
     .one-three
       h4.premium-block1 PREMIUM
       p.premium-block1
         span.sp $399
         | /month
       p.premium-block1 That&apos;s only 13.30$ per meal
       hr.new
       .tick-para.premium-block2.margin-top
         i
         p 1 meal every day
       .tick-para.premium-block2
         i
         p Order 24/7
       .tick-para.premium-block2
         i
         p Access to newest creation
       #free-delivery.tick-para.premium-block2
         i
         p Free delivery
       hr.new
       .up
         p I AM HUNGRY
 .contact-us
   .contact-us-head
     h3 CONTACT US
   hr.new1
   .contact-us-page
     .video video
     .form-container
       .section
         label(for='') Name
         input(type='text' placeholder='Name')
       .section
         label(for='') Email
         input(type='text' placeholder='Email')
       .section
         label(for='') How did you find us?
         input(type='text' placeholder='Friend')
       .section
         label(for='') Drop a line
         input(type='text' placeholder='message')
       button.submit-btn Submit
append script
 