extend demo.pug
append content
  form.login-form
   lable.login-lable Email
   input.login-input(type="text",placeholder="ex.: test@gmail.com")
   lable.login-lable Password
   input.login-input(type="password")
   button.login-btn Submit
   