extend demo.pug
append content
 form.signup-form
  lable.signup-lable Name
  input.signup-input#name(type = "text",placeholder = "name")
  lable.signup-lable Email
  input.signup-input#email(type = "text",placeholder = "email")
  lable.signup-lable Password
  input.signup-input#password(type = "password",placeholder = "password")
  lable.signup-lable Confirm Password
  input.signup-input(type = "password",placeholder = "confirm password")
  button.signup-btn submit
append script
 script(src="./script/signup-script.js")
   
